<div class="center hero-unit">
  <h3>Welcome to the</h3>
  <h1>Duty to God</h1>
  <h3>Tracking Application</h3>

  <h2>
    This is the right place!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
